div.nhatrolienquan {
	margin:20px 4px;
	float:left;
	display:block;
	width:100%;
}

.iframe {
position: absolute;
top: 16%;
right: 29%;
width: 46%;
height: 27%;
display:none;
background:white;
}

img.close{
	width: 29px;
height: auto;
position: absolute;
top: -1%;
right: -1%;
display: none;
z-index: 13;
border:none !important;
}

.black {
	width: 100%;
height: 100%;
background: rbga(0,0,0,0.2);
display: none;
position: absolute;
top: 0;
left: 0;
background: black;
opacity: 0.5;
}

a.gopy {
	width: 25%;
height: 10%;
margin-right:15px;
}

.star{
	width:30px;
	height:auto;
	margin:0px 1px !important;
	border:none !important;
	cursor:pointer;
	
}

.star_yes{
	width:30px;
	height:auto;
	margin:0px 3px !important;
	border:none !important;
	cursor:pointer;
}

div.yellow_star{
	top: 0;
	left: 100px;
	position: absolute;
}


div.luotdanhgia{
	position: absolute;
top: -28px;
left: 163px;
}

div.luotdanhgia span{
	font-style:italic;
}

tieude {
	font-weight:bold;
}