@charset "utf-8";
/* CSS Document */


body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
}

p{
	line-height:16px;
}
.nutnhan{
	color:#fff;
    border: solid 1px #ccc;
   	background-color:#1E90FF;
	border-color: #357ebd;
    padding: 2px;
    margin-right: 5px;
	margin-left: 30px;
	font-weight:bold;
	height:30px;
	border-radius:4px;
	width:100px;
	box-shadow:#666;
}

.nutnhan1{
	color:#fff;
    border: solid 1px #ccc;
   	background-color:#1E90FF;
	border-color: #357ebd;
    padding: 2px;
    margin-right: 5px;
	margin-left: 10px;
	font-weight:bold;
	height:30px;
	border-radius:4px;
	width:100px;
	box-shadow:#666;
}
.nutnhan2{
	color:#fff;
    border: solid 1px #ccc;
   	background-color:#1E90FF;
	border-color: #357ebd;
    padding: 2px;
    margin-right: 5px;
	margin-left: 150px;
	font-weight:bold;
	height:30px;
	border-radius:4px;
	width:auto
	box-shadow:#666;
}

a, a:visited{
	color:#006;
	text-decoration: none;
}
a:hover {
	color:#009
}

.footer{
	text-align:right;
	font-size:10px;
	color:#CCC;
	font-style:inherit;
}

/* định dạng các form*/
.TableContainer {
    border: solid 1px #ccc ;
    background: #ffffff;
    margin-bottom: 50px;
	width:50%;
	box-shadow: 2px 2px 5px #888888;
	
}

.TableContainer tr.type td table {
	border-top:1px dotted black;
	
}

.TableContainer .Header{
	/*background: url(images/container_header_bg.png) repeat-x;*/
	/*background: rgba(240,240,240,0.5); */
	background:#6495ED;
	height: 35px;
	padding-left: 7px;
	font-weight: bold;
	color: #FFF;
	font-size:18px
}
.TableContainer .Header1{
	background: url(images/container_header_bg.png) repeat-x;
	/*background: rgba(240,240,240,0.5); */
	height: 35px;
	padding-left: 7px;
	font-weight: bold;
	color: #000;
	font-size:18px
}

/*dùng để hiển thị dữ liệu*/

.TableData {
	border-spacing: 0;
	border-collapse: collapse;
}
.TableData TH {
    background:#00BFFF;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    border: solid 1px #ccc;
	height:25px
}

.TableData tr:hover
{
	background-color:#F8F8FF;
	
}
.TableData .cotSTT{
    text-align:center;
    width: 10%;
}
/* những button lồng vào cột của table*/
.TableData .cotNutChucNang{
    text-align:center;
    width: 50px;
}
.TableData .cotCheckBox{
    text-align:center;
    width: 30px;
}
.TableData .cotTen{
    text-align:left;
    font-weight: bold;
    color: #2780B9;
    min-width: 150px;
}
.TableData .cotSo{
    text-align:right;
}
.TableData .cotText{
    text-align:left;
}
.TableData .cotNgay{
    text-align:center;
    width: 80px;
}

.TableData .cotSoLuong {
    text-align: center;
    width: 5%;
}
.TableData .cotSoLuong  input{
    text-align: center;
    font-weight: bold;
}

.TableData .InputButton 
{
   	color:#fff;
    border: solid 1px #ccc;
    background:#09F;
    padding: 2px;
    margin-right: 5px;
	margin-left: 10px;
	font-weight:bold;
	height:30px;
	border-radius:5px;
	width:100px;
	box-shadow:#666;
}

.TableData .themmoi{
    text-align:right;
}
.TableData .khongdulieu {
    text-align: center;
    color: red;
}
.TableData td {
    border: 1px solid #ddd;
	height:25px
}


/*Form nhập liệu*/

.TableForm {
    background:#ffffff;
    font: 11px;
   /* border-collapse:collapse;*/
   	
  	border-collapse:collapse;
	width:80%;
	
}
.TableForm td{
  /*  border: solid 1px #ccc;*/
  	border:none;
    padding: 5px;
}
.TableForm .TieuDe {
    background: #0776BE;
    color: #FFFFFF;
    font-weight:bold;
}
.TableForm .Left {
    background:#FFF;
    text-align: right;
    font-weight: bold;
    width: 140px;
}
.TableForm .Right {
    text-align: left;
}
.TableForm .Bottom {
    text-align: center;
}
.TableForm input, textarea {
    border: solid 1px #ccc;
    background: #ffffff;
    color: #333333;
}
.TableForm .shortInput {
    width: 200px;
	border-radius:5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	height: 20px;
	padding: 6px 12px;
	font-size: 14px;
	
}
	

.TableForm .shortInputCB {
    width: 100px;
	border-radius:5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	height: 35px;
	padding: 6px 12px;
	font-size: 14px;
	
}
.TableForm .shortInputLoaiPhong {
    width: 40px;
	border-radius:5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	height: 20px;
	padding: 6px 12px;
	font-size: 14px;
	
}
	
.TableForm .longInput {
    width: 60%;
}

.TableForm .expandInput {
    width: 220px;
	border-radius:5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	font-size: 14px;

}
.TableForm select {
    border: solid 1px #ccc;
    background: #ffffff;
    color: #333333;
}
.TableForm .Button 
{
    color:#fff;
    border: solid 1px #ccc;
    background:#09F;
    padding: 2px;
    margin-right: 5px;
	margin-left: 10px;
	font-weight:bold;
	height:30px;
	border-radius:5px;
	width:100px;
	box-shadow:#666;
	
}

/*định dang menu*/
#menu ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
	/*overflow:hidden;*/
}
 
#menu ul li{
	position:relative;
	display:block;
	float:left;
	
}
 
#menu ul a{
	text-decoration:none;
	width:129px;
	float:left;
	background:url(images/Capture.PNG) repeat-x scroll;
	color:#FFF ;
	font-weight:bold;
	text-align:center;
	line-height:35px;
	border-left:1px solid #fff;
	
}
#menu ul li a:hover
	{
		background:url(images/menu_bg.png) repeat-x;
		color:#000;
	}
#menu ul li ul {
		position:absolute;
		display:none;
		background-color:#009;
		}
#menu ul li:hover ul{
			position:absolute;
			display:block;
	}
	
.danhgia img:hover{
	background-size:!important;
	background-image:url(images/knewstuff.png);
	background-repeat:no-repeat;
	
}
.huongdan
{
	float:inherit;
	margin-left:10px;
	
}

